<div class="container">
  <div class="form-container">
    <p>Registro</p>

    <label for="area">Area:</label>
    <select name="area" id="area">
      <option value="analisis">ANALISIS</option>
      <option value="clinica">MEDICINA CLINICA</option>
      <option value="radioterapia">RADIOTERAPIA</option>
    </select>

    <label for="">Nombre y Apellido</label>
    <input type="text" id="name" placeholder="ingrese nombre y apellido..." />

    <label for="email">Email:</label>
    <input
      type="email"
      name="email"
      id="email"
      placeholder="ingrese correo electronico..."
    />

    <label for="password">Password</label>
    <input type="password" name="password" id="password" />

    <button type="submit">registrar</button>
  </div>
</div>
