<div class="container">
  <div class="py-2 px-2 bg-slate-500 text-center mt-3">
    <p class="text-white text-3xl mt-3">Registro</p>
    <form>
      <div class="mb-4">
        <label for="area" class="block text-sm font-medium text-gray-600">Área de trabajo</label>
        <select id="area" name="area" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 text-black">
          <option value="clinica">Clínica</option>
          <option value="analisis">Análisis</option>
          <option value="radiografia">Radiografía</option>
          <option value="otros">Otros</option>
        </select>
      </div>
      <div class="mb-4">
        <label for="nombre" class="block text-sm font-medium text-gray-600">Nombre</label>
        <input type="text" name="nombre" id="nombre" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
      </div>
      <div class="mb-4">
        <label for="email" class="block text-sm font-medium text-gray-600">Correo electrónico</label>
        <input type="email" name="email" id="email" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
      </div>
      <div class="mb-6">
        <label for="password" class="block text-sm font-medium text-gray-600">Contraseña</label>
        <input type="password" name="password" id="password" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
      </div>
      <div class="flex justify-end">
        <button type="submit" class="py-2 px-4 bg-indigo-500 text-white rounded-md hover:bg-indigo-600 focus:outline-none focus:bg-indigo-600">Registrarse</button>
      </div>
    </form>
  </div>
</div>

