.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajusta la altura según tus necesidades */
  color:black;
}

.container > div {
  width: 400px;
  padding: 20px; /* Agrega un relleno al div para separar el contenido del borde */
  margin-top: 20px; /* Agrega un margen superior al contenedor para separarlo del borde superior del viewport */
  color:white;
}

.py-2 {
  margin-bottom: 10px; /* Ajusta el margen inferior del párrafo "Registro" según sea necesario */
}

.form-item {
  margin-bottom: 15px; /* Agrega un margen inferior a cada elemento del formulario para separarlos */
}
